.home {
  padding: 16px 30px;
  background: #f7f7f7;
}

/* Banner */
.home img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 20px;
}

.category-wrapper {
  margin-bottom: 30px;
}


.home-banner-2 {
  width: 400px;
}

.smallbanerdiv {
  display: flex;
  flex-direction: row; /* Default row hi hota hai */
  justify-content: space-between; /* Items ke beech gap ke liye */
  align-items: center; /* Vertical alignment ke liye */
  gap: 10px; /* Specific gap dene ke liye */
}

