.home {
  padding: 16px 30px;
  background: #f7f7f7;
}

/* Banner */
.home img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 20px;
}

.category-wrapper {
  margin-bottom: 30px;
}
