.cart-page {
  padding: 20px;
  background: #f7f7f7;
}

.cart-item {
  background: #fff;
  display: flex;
  gap: 15px;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.cart-item img {
  width: 70px;
  object-fit: contain;
}

.qty {
  display: flex;
  align-items: center;
}

.qty button {
  padding: 4px 10px;
}

.checkout-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #0c831f;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}
