.cart-page {
  padding: 20px;
}

.cart-item {
  display: flex;
  gap: 20px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 80px;
}

.qty button {
  margin: 0 5px;
}

.checkout-btn {
  background: #0c831f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
}
