.product-page {
  padding: 20px;
  background: #f7f7f7;
}

.product-box {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  display: flex;
  gap: 30px;
}

/* IMAGE */
.image-section {
  width: 45%;
}

.main-image {
  width: 100%;
  height: 320px;
  object-fit: contain;
}

.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbs img {
  width: 55px;
  height: 55px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
}

/* DETAILS */
.details-section {
  width: 55%;
}

.details-section h2 {
  font-size: 20px;
}

.category {
  font-size: 13px;
  color: gray;
}

.price {
  color: #0c831f;
  margin: 10px 0;
}

.desc {
  font-size: 14px;
}

.add-btn {
  margin-top: 15px;
  padding: 10px 30px;
  background: #0c831f;
  color: white;
  border: none;
  border-radius: 8px;
}
