.product-page {
  padding: 30px 60px;
  background: #f7f7f7;
  min-height: 100vh;
}

.product-box {
  background: white;
  padding: 30px;
  display: flex;
  gap: 40px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

/* IMAGE SECTION */
.image-section {
  width: 45%;
}

.main-image {
  width: 100%;
  height: 350px;
  object-fit: contain;
  border-radius: 10px;
}

.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.thumbs img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
}

/* DETAILS SECTION */
.details-section {
  width: 55%;
}

.details-section h2 {
  margin-bottom: 5px;
}

.category {
  font-size: 13px;
  color: gray;
}

.price {
  margin: 15px 0;
  color: #0c831f;
}

.desc {
  font-size: 14px;
  margin-bottom: 20px;
}

.add-btn {
  background: #0c831f;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
