.login-box {
  width: 350px;
  margin: 60px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.login-box input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #0c831f;
  color: white;
  border: none;
  border-radius: 6px;
}

.login-box span {
  color: #0c831f;
  cursor: pointer;
}
