.admin-login-page {
  min-height: 100vh;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-login-box {
  width: 360px;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 0 12px rgba(0,0,0,0.12);
}

.admin-login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.admin-login-box button {
  width: 100%;
  background: #0c831f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
