.upload-page {
  max-width: 600px;
  margin: auto;
}

.upload-page h2 {
  margin-bottom: 20px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.upload-form input,
.upload-form select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.upload-form button {
  background: #0c831f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
